body{
    font-family: Arial Narrow, sans-serif;
}
.content{
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section:before {
    content: '';
    display: block;
    border-top: 1px dashed #CBCBCB;
}
.section input[type='text']:focus {
    border: 1px solid #CBCBCB;
}
.section{
    border: none;
}
.section input[type='text'], .section input[type="email"], .section textarea{
    border: none;
    background: #F8F8F8;
    border-bottom: 2px solid #07d0a4;
    width: 100%;
    height: 44px;
    padding: 10px 14px;
    font-size: 18px;
}
label{
    font-size: 20px;
}
.section input[type='checkbox'], .section input[type="radio"], .section input[type="file"]{
    margin: 10px;
}
h2 {
    margin: 43px 0 29px;
    font-size: 24px;
    color: #262626;
    text-transform: uppercase;
}
.section input[type="reset"], .section input[type="submit"] {
    background: #07d0a4;
    width: 100%;
    max-width: 200px;
    border: 0px;
    height: 40px;
    margin: 10px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
}
.section input[type="file"] {
    background: #ffffff;
    width: 100%;
    max-width: 305px;
    border: 0px;
    height: 29px;
    margin: 10px;
    color: #000;
    font-size: 20px;
}
.job-vacancy select{
    height: 30px;
    width: 165px;
}
